@media (max-width: 768px) {
   .navbar
   {
      max-width: 50vh;
      height: 6vh;
     
   }
    .main-area {
       flex-direction: column;
       height: 60vh;
    }
    .first-buy, .second-buy {
       width: 100%;
       border-right: none;
    }
    img {
     max-width: 100%;
     height: auto;
    }
    .calculate,.clear
    {
      font-size: 14px;
    }
    #btn
    {
      margin-top: 10px;
    }
    .new-project-link{
       
      font-size: 12px;
    }
    .navbar > span, .main-area span {
       font-size: 15px;
       text-align: center;
    }
   }

@media (max-width: 480px) {
    .err {
       font-size: 8px;
    }
    .output > span, .final-amt > p {
       font-size: 18px;
    }
    p {
       font-size: 18px;
    }
   }
         